.main{
    height: 600px;
    width: 1000px;
    margin: auto;
    background-image: url(images/bg12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#img1{
    margin-left: 250px;
    padding-top: 100px;
    animation-name: move;
    position: relative;
    animation-duration:10s ;
    animation-iteration-count: infinite;
}
#img2{
    margin-left: 432px;
    padding-top: 98px;
    animation-name: move2;
    position: relative;
    animation-duration:10s ;
    animation-iteration-count: infinite;
}
@keyframes move{
    0%{
        left: 0px;
        bottom: 0px;
    }
    10%{
        left: 100px;
        bottom: 90px;
    }
    30%{
        left: 140px;
        bottom: 100px;
    }
    40%{
        left: 180px;
        bottom:110px ;
    }
    50%{
        left: 220px;
        bottom: 120px;
    }
    70%{
        left: 180px;
        bottom: 110px;
    }
    80%{
        left: 140px;
        bottom: 100px;
    }
    90%{
        left: 120px;
        bottom: 90px;
    }
    100%{
        left: 0px;
        bottom: 0px;
    }
}



@keyframes move2{
    0%{
        right: 0px;
        bottom: 0px;

    }
    10%{
        right: 100px;
        bottom: 90px;
    }
    30%{
        right: 140px;
        bottom: 100px;
    }
    40%{
        right: 180px;
        bottom:110px ;
    }
    50%{
        right: 220px;
        bottom: 120px;
    }
    70%{
        right: 180px;
        bottom: 110px;
    }
    80%{
        right: 140px;
        bottom: 100px;
    }
    90%{
        right: 100px;
        bottom: 90px;
    }
    100%{
        right: 0px;
        bottom: 0px;
    }
}