*{
    margin:0px;
    padding: 0px;
}

div{
    width: 80%;
    margin: auto;
    height: 450px;
    animation-name: slider;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes slider {
    0%{
        background-image: url("images/2.jpg");
    }
    25%{
        background-image: url("images/1.jpg");
    }
    50%{
        background-image: url("images/3.jpg");
    }
    75%{
        background-image: url("images/4.jpg");
    }
    100%{
        background-image: url("images/1.png");
    }
}