.box1{
    height: 200px;
    width: 414px;
    border: 3px solid coral;
    margin: 100px;
    display: inline-block;
    
}
.child1{
    height: 200px;
    width: 200px;
    background-color: crimson;
    display: inline-block;
}
.child2{
    height: 200px;
    width: 200px;
    background-color: crimson;
    display: inline-block;
    margin-left: 10px;
}
.sub{
    height: 200px;
    width: 414px;
}
.sub:hover{
    transform: perspective(300px) rotateX(-30deg);
}



.box2{
    height: 200px;
    width: 414px;
    border: 3px solid coral;
    margin: 100px;
    display: inline-block;
    
}
.child3{
    height: 200px;
    width: 200px;
    background-color: crimson;
    display: inline-block;
}
.child4{
    height: 200px;
    width: 200px;
    background-color: crimson;
    display: inline-block;
    margin-left: 10px;
}
.sub2{
    height: 200px;
    width: 414px;
}
.sub2:hover{
    transform: perspective(300px) rotateX(30deg);
}
