.b1{
    background-color: red;
    
    margin: auto;
    margin-top: 20px;
}
.b2{
    background-color: blue;
    
    margin: auto;
    margin-top: 20px;
}
.b3{
    background-color: blue;
    
    margin: auto;
    margin-top: 20px;
}
.b4{
    background-color: blue;
    
    margin: auto;
    margin-top: 20px;
}
.foot1{
    background-color: chocolate;
    margin: auto;
    margin-top: 10px;
}
.foot2{
    background-color: chocolate;
    margin: auto;
    margin-top: 10px;
}
.foot3{
    background-color: chocolate;
    margin: auto;
    margin-top: 10px;
}
.foot4{
    background-color: chocolate;
    margin: auto;
    margin-top: 10px;
}
.foo1{
    background-color: chocolate;
    margin: auto;
    margin-top: 10px;}
.foo2{
    background-color: chocolate;
    margin: auto;
    margin-top: 10px;
}

.foo3{
    background-color: chocolate;
    margin: auto;
    margin-top: 10px;
    
}
.foo4{
    background-color: chocolate;
    margin: auto;
    margin-top: 10px;
    
}