.parent-box{
    background-color: rgb(203, 211, 218);
    width: 80%;
    height: 400px;
}

.child-box{
    background-color: BLUE;
    height: 400px;
    width: 50%;
    /* transform:perspective(500px) rotateX(85deg); */
    /* transform:perspective(500px) rotateY(-30deg);  */
    /* transform:perspective(100px) rotateZ(-150deg);  */
}